<div>
    
   
        <div class="text-center">
            <img src="../../../assets/img/bus.webp" alt="alt"/>
        </div>
         <div class="container-fluid bg-dark text-warning ">
           

        </div>
        <div class="container-fluid  text-dark ">
            <section>
                <div class="container-fluid d-flex">
                    <div class="p-5">
                        <h4>Registro de alumnos</h4>
                        <div class="container-fluid d-flex">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>CARRERAS:</h5>
                                    <p>Organizacion De Fiestas</p>
                                    <p>8 fin de semanas</p>
                                </div>
                                <div class="col">
                                    <h5>TITULO</h5>
                                    <p >Organizador de jodas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="m-3 shadow mb-5 bg-body rounded" src="../../../assets/img/projectx.jpg" />
                </div>    
            </section>
        
    
</div>