<h1>Base de datos de alumnos</h1>
<button (click)="(addStudent())"  class="m-2" mat-flat-button color="accent">AGREGAR</button>
<table mat-table [dataSource]="students">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>
    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{ element.apellido }} </td>
    </ng-container> 
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
    </ng-container>
    <ng-container matColumnDef="nota">
        <th mat-header-cell *matHeaderCellDef> Nota </th>
        <td mat-cell *matCellDef="let element"> {{ element.nota }} </td>
    </ng-container>
    <ng-container matColumnDef="esActivo">
        <th mat-header-cell *matHeaderCellDef> regular </th>
        <td mat-cell *matCellDef="let element"> {{ element.esActivo }} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="editStudent(element)" mat-icon-button color="basic">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="removeStudent(element)" mat-icon-button color="warn">
                <mat-icon>delete_forever </mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>